html {
  background-color: black;
  min-height: 100vh;
  display: flex;
  -webkit-display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

body * {
  border: 2px solid red;
}

.container {
  display: flex;
  -webkit-display: flex;
  justify-content: space-around;
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;
  background-color: black;
  border: 8px outset #E4E3DF;
  min-height: 93vh;
  min-width: 98vw;
}

.controls-container {
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  -webkit-flex: 2; /* Safari 6.1+ */
  -ms-flex: 2; /* IE 10 */
  flex: 2;
}

#draw-canvas {
  border: 2px solid black;
  flex: 1;
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  background-color: #c1c5c9;
}

.axes-container {
  position: relative;
  visibility: hidden;
}

.scopes-container {
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  flex: 7 5;
  -webkit-flex: 7 5; /* Safari 6.1+ */
  -ms-flex: 7 5; /* IE 10 */
  margin: 12px;
  position: relative;
}

.scope-container {
  position: relative;
  flex: 1;
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  justify-content: center;
  align-items: stretch;
  border: 2px solid green;
}

#scope-1 {
  width: 100%;
  height: 100%;
}

.scope {
  border: 3px solid #646465;
  border-radius: 25px;
}

#header-text {
  text-align: center;
  color: white;
  position: absolute;
  z-index: 100;
  background-color: black;
  opacity: 0.8;
  border: 5px solid rgba(190, 199, 206, .5);
  border-radius: 25px;
  padding: 5px;
  margin: 0;
  display:inline-block;
}

.units-container {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
  background-color: #8d98a3;
  box-shadow: -6px 4px 4px #565e66;
  padding: 4px;
  font-size: 16px;
  user-select: none;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  -webkit-display: flex;
  flex: 0.25;
  -webkit-flex: 0.25; /* Safari 6.1+ */
  -ms-flex: 0.25; /* IE 10 */
  margin-top: 5px;
  align-items: stretch;
  user-select: none;
  border: 2px solid green;
}

#freq-info {
  width: 165px;
  background-color: #1e1e1e;
  color: white;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
}

button {
  border: none;
  text-decoration: none;
  background-color: #c1c5c9;
  border: 2px solid blue;
}

button:focus {
  outline: 0;
}

#pure-button {
  background-color: #FFE900;
}

button:hover {
  background-color: #8d98a3 !important;
}


.button-header{
  color: white;
  position: absolute;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

#button-container{
  border: 2px solid yellow;
}

#pure-button {
  position: relative;
  bottom: 20px;
  right: 30%;
  height: 43px;

}

#complex-button {
  position: relative;
  bottom: 20px;
  right: 10%;
  height: 43px;
}

/* This percentages can be even more precise with media queries
#pure-button {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 30%;
  bottom: 27px;
}

@media only screen and (max-width: 960px) {
    #pure-button {
        left: 25%;
    }
}


@media only screen and (max-width: 850px) {
    #pure-button {
        left: 22%;
    }
}


@media only screen and (max-width: 785px) {
    #pure-button {
        left: 17%;
    }
}


@media only screen and (max-width: 725px) {
    #pure-button {
        left: 14%;
    }
}

@media only screen and (max-width: 685px) {
    #pure-button {
        left: 7%;
    }
}*/

/* This percentages can be even more precise with media queries
#complex-button {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 5%;
  bottom: 27px;
}




@media only screen and (max-width: 1050px) {
    #complex-button {
        left: 8%;
    }
}

@media only screen and (max-width: 785px) {
    #complex-button {
        left: 4%;
    }
}

@media only screen and (max-width: 685px) {
    #complex-button {
        left: 1%;
    }
}*/

#xAxis-header {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#yAxis-header {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  flex: 0.1;
  -webkit-flex: 0.1; /* Safari 6.1+ */
  -ms-flex: 0.1; /* IE 10 */
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform:rotate(180deg);
  transform: rotate(180deg);
  position: relative;
  left: 8px;
  height: 215px;
  width: 23px;
}
