html {
  background-color: #bec4ce;
}
#my-canvas {
  height:50vh;
  width: 50vw;
  left: 25%;
  position: relative;
}
.header-text {
  text-align: center;
}
#button {
  position: absolute;
  bottom: 8%;
  left: 50%;
}
#XzoomIn {
  position: absolute;
  bottom: 8%;
  left: 37%;
}
#XzoomOut {
  position: absolute;
  bottom: 8%;
  left: 43%;
}
#YzoomIn {
  position: absolute;
  bottom: 4%;
  left: 37%;
}
#YzoomOut {
  position: absolute;
  bottom: 4%;
  left: 43%;
}

#oscilloscope {
    width: 400px;
    height: 200px;
}
