html {
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-around;
  flex: 1;
  background-color: black;
  border: 8px outset #E4E3DF;
  min-height: 93vh;
  min-width: 98vw;
}

.controls-container {
  display: flex;
  flex-direction: column;
  flex: 2;
}

#draw-canvas {
  border: 2px solid black;
  flex: 1;
  background-color: #c1c5c9;
}

.axes-container {
  position: relative;
  visibility: hidden;
}

.scopes-container {
  display: flex;
  flex-direction: column;
  flex: 7 5;
  margin: 12px;
  position: relative;
}

.scope-container {
  position: relative;
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#scope-1 {
  user-select: none;
  flex: 1;
}

.scope {
  border: 3px solid #646465;
  border-radius: 25px;
}

.header-text {
  text-align: center;
  color: white;
  position: absolute;
  z-index: 100;
  top: -50px;
  background-color: black;
  opacity: 0.8;
  user-select: none;
  border: 5px solid rgba(190, 199, 206, .5);
  border-radius: 25px;
  padding: 5px;
}

.units-container {
  flex: 0.1;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
  background-color: #8d98a3;
  box-shadow: -6px 4px 4px #565e66;
  padding: 4px;
  font-size: 16px;
  user-select: none;
}

.zoom-container {
  display: flex;
  flex: 0.25;
  margin-top: 5px;
  align-items: stretch;
  user-select: none;
}


button {
  border: none;
  text-decoration: none;
}

button:hover {
  color: white;
  background-color: #8d98a3;
}

button:focus {
  outline: 0;
}

/* This percentages can be even more precise with media queries */
#timbre-button {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 7%;
}

@media only screen and (max-width: 1450px) {
    #timbre-button {
        right: 7.5%;
    }
}

@media only screen and (max-width: 1360px) {
    #timbre-button {
        right: 8.2%;
    }
}

@media only screen and (max-width: 1280px) {
    #timbre-button {
        right: 9%;
    }
}

@media only screen and (max-width: 1190px) {
    #timbre-button {
        right: 10%;
    }
}

@media only screen and (max-width: 1100px) {
    #timbre-button {
        right: 11.1%;
    }
}

@media only screen and (max-width: 1040px) {
    #timbre-button {
        right: 12%;
    }
}

@media only screen and (max-width: 990px) {
    #timbre-button {
        right: 13%;
    }
}

@media only screen and (max-width: 940px) {
    #timbre-button {
        right: 13.8%;
    }
}

@media only screen and (max-width: 890px) {
    #timbre-button {
        right: 15%;
    }
}

@media only screen and (max-width: 840px) {
    #timbre-button {
        right: 16%;
    }
}

@media only screen and (max-width: 800px) {
    #timbre-button {
        right: 17.6%;
    }
}

@media only screen and (max-width: 770px) {
    #timbre-button {
        right: 18.6%;
    }
}

@media only screen and (max-width: 744px) {
    #timbre-button {
        right: 20%;
    }
}

@media only screen and (max-width: 715px) {
    #timbre-button {
        right: 0%;
    }
}

#freq-info {
  width: 165px;
  background-color: #1e1e1e;
  color: white;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
}
